body
{
	width : 70%;
	min-width : 400px;
	margin : auto;
	padding : 5px;
	word-wrap : break-word;
	font-family : Arial,serif;
	background-color : RGB(233,232,220);
	overflow: auto;
}

h1
{
	text-align: center;
	color: #eeeeee;
	background-color: #707070;
}

h1
{
	font-size : xx-large;
	font-weight : bold;
	border : 1px black solid;
	border-radius : 10px;
	box-shadow: 5px 5px 2px #555;
}

fieldset
{
	border : 1px grey solid;
	border-radius: 5px;
}

footer
{
	color : black;
	border : 1px black solid;
	border-radius : 10px;
	text-align : center;
	box-shadow: 5px 5px 2px #555;
}
