body
{
	width : 70%;
	min-width : 550px;
	max-width : 700px;
	margin : auto;
	word-wrap : break-word;
	font-family : Arial,serif;
	background-color : RGB(233,232,220);
	overflow: auto;
	background-image : url('images/background.jpg');
}
	
h1
{
	text-align: center;
	color: #eeeeee;
	background-color: #707070;
	font-size : xx-large;
	border : 1px black solid;
	border-radius : 10px;
	box-shadow: 5px 5px 2px #555;
}

h2,h3,h4,h5
{
	margin : 0;
}

fieldset
{
	background: RGBa(66, 107, 39, 0.7);
	border : 1px grey solid;
	border-radius: 10px;
}

footer
{
	position: absolute;
	bottom: 0;
	width: 70%;
	min-width : 550px;
	max-width : 700px;
	background: RGBa(66, 107, 39, 0.5);
	border : 1px black solid;
	border-radius : 10px;
	text-align : center;
}
